<div class="general-container">

  <% @interviews.reverse_each do |interview| %>
  <%= link_to interview_path(interview) do %>
  <div class="card-interview">
    <img src="https://media.anwbcamping.nl/img/camping/24180/d78bd356-34d1-4cb7-93d0-23722f6426f1/Nederland-Stegeren-Camping%20de%20Kleine%20Wolf-ExtraLarge.jpg" />
    <div class="card-interview-infos">
      <div>
        <h2><%= interview.title  %></h2>
        <p>Interview with <%= interview.first_name %> <%= interview.last_name %> from <%= interview.camping %></p>
        <% if current_user.present? %>
        <%= link_to "Edit", edit_interview_path(interview) %>
        <%= link_to "Delete", interview_path(interview),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    </div>
  </div>

  <% end %>
  <% end %>
</div>
