<div class="general-container">
  <div class="interview">

    <!-- banner -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.anwbcamping.nl/img/camping/24180/d78bd356-34d1-4cb7-93d0-23722f6426f1/Nederland-Stegeren-Camping%20de%20Kleine%20Wolf-ExtraLarge.jpg);">
  <div class="container">
        <h1><%= @interview.title %></h1>
        <p>Interview with <%= @interview.first_name %> <%= @interview.last_name %> from <%= @interview.camping %></p>
  </div>
</div>
    <!-- banner -->
    <p><%= sanitize @interview.content  %></p>
  </div>

<!-- comment -->
  <div class="comments-box">
  <% if current_user.present? && current_user.user? %>
    <%= link_to "Edit", edit_interview_path(@interview) %>
    <%= link_to "Delete", interview_path(@interview),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      <% end %>
  <%# link_to "Add comment", new_interview_comment_path(@interview) %>
  <%= simple_form_for [@interview, @comment] do |f| %>
    <%= f.input :content, placeholder: 'Plaats hier je reactie.', label: false %>
    <%= f.submit "Plaats reactie", class: "btn btn-comment" %>
  <% end %>

  <div class="all-comments">
  <% @interview.comments.reverse_each do |comment| %>
  <div class="comment">
    <i><b><%=comment.user.email unless comment.user.blank?%></b></i>
    <p><%= comment.content %></p>
  </div>
  <% end %>
</div>
</div>
</div>
